@charset "UTF-8";

html {
  font-size: 62.5%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 1.7rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  width: 100%;
  padding:10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: 2.0rem;
}

.button {
  font-size: 1.2rem;
}

.container {
  width: 100%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 3.0rem;
  font-weight: 400;
  text-align: center;
}

.signin,
.signup {
  margin-top: 40px;
}

.signin h2,
.signup h2 {
  font-weight: 200;
}

.signin form,
.signup form {
  width: 100%;
}

.signin input,
.signup input {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
}

.signin a,
.signup a {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.signin input[type=submit],
.signup input[type=submit] {
  padding: 7px;
  background-color: #2ECC40;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.top-bar {
  margin-top: 5px;
  text-align: left;
  background: #0074D9;
  padding: 5px;
  color: white;
}

.top-bar form{
  float:right;
}

section {
  margin-bottom: 40px;
}

h2.sectitle {
  font-weight: 200;
  padding-bottom: 5px;
  border-bottom: 1px #0074D9 solid;
  border-left: 5px #0074D9 solid;
  padding-left: 7px;
}

.newtodo-form textarea {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  border-radius: 6px;
  border-color: #0074D9;
}

.newtodo-form input[type=button] {
  color: #fff;
  width: 100%;
  margin-top: 10px;
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  background-color: #0074D9;
}

.newtodo-form input[type=button].disabled{
  background: grey;
  cursor:default;
}

.done-form{
  padding:10px;
}

.todo-list {
  margin-top: 20px;
  position:relative;
}

.todo {
  margin-bottom: 5px;
  padding:3px;
  position:relative;
}

.todo .content {
  overflow-wrap: break-word;
  font-size:12px;
  padding:5px;
}

.todo .contentlike{
  border-bottom: 1px solid green;
  padding-bottom: 10px;
}

.todo .contentwish{
  border-bottom: 1px solid red;
  padding-bottom: 10px;
}

.todo-bottom-item {
  position: absolute;
  right: 0;
  top: 0;
}

.todo .todo-bottom-item .deleteicon{
  display:none;
}

.todo:hover .todo-bottom-item .deleteicon{
  display:block;
}

.todo .time {
  display: inline-block;
  height: 25px;
  padding-top: 10px;
  font-size: 1.4rem;
}

.todo form {
  display: inline-block;
}

.todo .left{
    float: left;
    padding-right: 10px;
    border-right: 2px solid #0074D9;
    margin-right: 10px;
}

.todo form .button {
  border-radius: 2px;
}

.sectitle form{
  float:right;
}
.button:hover {
  cursor: pointer;
}

.points,
.radiooptions label{
  font-size:10px;
}

.radiooptions label{
  padding: 4px;
  border-bottom: 2px solid #0074D9;
  border-radius: 0;
}


.newtodo-form .done{
  margin:10px 0;
}
  
.newtodo-form .done label{
  font-size:12px;
}

input[type="button" i]:disabled{
  cursor:pointer;
}


